.usermanager>.sub{
    display: block;
}
.usermanager>.sub>li>.twoLi{
    color: #ffffff;
}
.content>.pageCont>.right>.rightTitle>p>i:first-child{
    background: url("../img/user_white.png")no-repeat;
}